{% extends 'base.html' %} {% load static %}
{% block content %}
  <div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'add_album' %}">Add an Album</a>
      </li>
    </ul>
  </div>
  <div>
    <h3>Digital</h3>
      <div class="container">
        {% for album in albums %}
        {% if album.medium == 'digital' %}
        <div class="album-card">
          <div>
            {% if album.album_art_url %}
            <img src="{{ album.album_art_url }}" alt="Album Art">
            {% endif %}
            <p><a href="{% url 'view_album' pk=album.pk %}"> Title: {{album.title}} </a></p>
            <p>Artist:  {{album.artist}}</p>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    <h3>Physical</h3>
      <div class="container">
        {% for album in albums %}
        {% if album.medium == 'physical' %}
        <div class="album-card">
          <div>
            {% if album.album_art_url %}
            <img src="{{ album.album_art_url }}" alt="Album Art">
            {% endif %}
            <p><a href="{% url 'view_album' pk=album.pk %}"> Title: {{album.title}} </a></p>
            <p>Artist:  {{album.artist}}</p>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
  </div>
{% endblock %}