{% extends 'base.html' %} {% load static %}
{% block content %}
  <div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'add_album' %}">Add an Album</a>
      </li>
    </ul>
  </div>
  <div>
    <div class="container">
      <div class="column">
        <h3>Digital</h3>
        {% for album in albums %}
        {% if album.medium == 'digital' %}
        <div>
          {% if album.album_art_url %}
          <img src="{{ album.album_art_url }}" alt="Album Art">
          {% endif %}
          <p>Album Title: {{album.title}}</p>
          <p>Artist:  {{album.artist}}</p>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="column">
        <h3>Physical</h3>
        {% for album in albums %}
        {% if album.medium == 'physical' %}
        <div>
          {% if album.album_art_url %}
          <img src="{{ album.album_art_url }}" alt="Album Art">
          {% endif %}
          <p>Album Title: {{album.title}}</p>
          <p>Artist:  {{album.artist}}</p>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}